@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.feature-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature{
    background-color: #eeeeee;
    color: #333;
    padding: 60px 40px;
    text-align: center;
}
.property{
    background-color: #fff;
    color: #333;
    padding: 60px 40px;
    text-align: center;
}
.property h1{
    font-size: 50px;
    padding: 10px 0;
}
.property h6{
    font-weight: 400;
}
.property-box{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.award-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.award{
    background-color: #122947;
    color: #fff;
    padding: 60px 40px;
    text-align: center;
}
.award h6{
    color: #27ae60;
    font-size: 20px;
}

.location{
    background-color: hsla(0, 3%, 76%, 0.521);
    color: #333;
    padding: 60px 40px;
    text-align: center;
}
.location h2{
    font-size: 40px;
    padding: 10px 0;
}
.location h6{
    font-weight: 400;
}
.location-box{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.customer{
    background-color: #fff;
    color: #333;
    padding: 60px 40px;
    text-align: center;
}
.customer h2{
    font-size: 40px;
    padding: 10px 0;
}
.customer h6{
    font-weight: 400;
}
.customer-box{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.package{
    background-color: hsla(0, 2%, 66%, 0.521);
    color: #333;
    padding: 60px 40px;
    text-align: center;
}
.package h2{
    font-size: 55px;
}
.package-box{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}